<mat-card *ngIf="selectedJob">
  <mat-card-header>
    <mat-card-title>{{ selectedJob.jobTitle }}</mat-card-title>
  </mat-card-header>

  <div class="card-content-container">
    <mat-card-content>
      <p>
        <strong>Company Name: </strong
        ><input type="text" value="{{ selectedJob.companyName }}" readonly />
      </p>
      <p>
        <strong>Status: </strong
        ><input type="text" value="{{ selectedJob.status }}" readonly />
      </p>
      <p>
        <strong>Posting URL: </strong
        ><input type="text" value="{{ selectedJob.postingUrl }}" readonly />
      </p>
    </mat-card-content>

    <mat-card-content>
      <p>
        <strong>Priority: </strong
        ><input type="text" value="{{ selectedJob.priority }}" readonly />
      </p>
      <p>
        <strong>Source: </strong
        ><input type="text" value="{{ selectedJob.source }}" readonly />
      </p>
      <p>
        <strong>Notes: </strong
        ><input type="text" value="{{ selectedJob.notes }}" readonly />
      </p>
    </mat-card-content>
  </div>
</mat-card>
