$flex-item-margin: 10px;

.card-flex-items-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 70px;
  flex-wrap: wrap;
}

.flex-item-small {
  flex: 1;
  margin: $flex-item-margin;
}

.flex-item-medium {
  flex: 2;
  margin: $flex-item-margin;
}

.flex-item-large {
  flex: 3;
  margin: $flex-item-margin;
}

.flex-item-full-width {
  width: 100%;
  margin: $flex-item-margin;
}
