mat-card {
  margin: 20px auto;
  padding: 20px 20px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;

  p {
    color: #ffffff;
  }
}

mat-card-title {
  font-size: 20px;
  font-weight: 600;
  margin: 20, 0, 20, 0;
  padding-bottom: 10px;
  color: #ffffff;
}

.card-content-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.card-content-container mat-card-content {
  flex: 1;
  padding: 0;
}
