{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Jwt": {
    "Key": "REPLACE_WITH_SECRET_KEY",
    "Issuer": "HireHatchServer",
    "Audience": "HireHatchClient"
  }
}
